* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  margin: 0 auto;
  border: 1px solid black;
  height: auto;
  align-items: center;
  justify-items: center;
}
header {
  width: 100%;
  height: 60px;
  border: 1px solid black;
  background-color: #0487d9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 60px;
}
.header a {
  text-decoration: none;
  color: white;
}
.logo {
  width: 250px;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}
.logo_text {
  padding: 10px;
  text-align: center;
}
.menu {
  width: 120px;
  line-height: 40px;
  background-color: #0b5ed7;
  border-radius: 5px;
  text-decoration: none;
  margin: 10px;
}
.box_icon {
  display: inline-block;
  width: 40px;
  text-align: center;
  vertical-align: middle;
}
.box_text {
  color: white;
}
.search {
  width: 340px;
  height: 40px;
  border-radius: 5px;
  margin: 10px;
  display: inline-block;
}
.search input[type="search"] {
  width: 290px;
  height: 40px;
  float: left;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 10px;
}
.search input[type="search"]:focus {
  outline: none;
}
.search button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.search::after {
  content: "";
  display: block;
  clear: both;
}
.info {
  width: 100px;
  line-height: 60px;
  margin: 10px;
  text-align: center;
}
.cart {
  width: 100px;
  line-height: 60px;
  margin: 10px;
  text-align: center;
}
.login {
  width: 100px;
  line-height: 40px;
  background-color: #0b5ed7;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
}
header img {
  width: 60px;
  height: 60px;
  margin: 5px;
}
nav {
  width: 85%;
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
}
nav ul {
  width: 100%;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
}
nav li {
  display: inline-block;
  width: 49%;
  height: 30px;
}
nav a {
  text-decoration: none;
  color: black;
}
section {
  width: 80%;
  height: 500px;
  border: 1px solid black;
  display: flex;
  margin: 0 auto;
}
footer {
  width: 100%;
  height: 100px;
  border: 1px solid black;
}
