* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  margin: 0 auto;
  border: 1px solid black;
  height: auto;
}
header {
  width: 100%;
  height: 60px;
  border: 1px solid black;
  background-color: #000247;
  display: flex;
  align-items: center;
  vertical-align: middle;
  padding: 20px;
}
.menu {
}
header img {
  width: 60px;
  height: 60px;
  margin: 5px;
}
section {
  width: 80%;
  height: 500px;
  border: 1px solid black;
  display: flex;
  margin: 0 auto;
}
footer {
  width: 100%;
  height: 100px;
  border: 1px solid black;
}
